<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.cmp.mapper.ConfigureDtuMapper">
    
    <resultMap type="ConfigureDtu" id="ConfigureDtuResult">
        <result property="id"    column="id"    />
        <result property="manufacturer"    column="manufacturer"    />
        <result property="product"    column="product"    />
        <result property="model"    column="model"    />
        <result property="name"    column="name"    />
        <result property="businessId"    column="business_id"    />
        <result property="sim"    column="sim"    />
        <result property="dtuNo"    column="dtu_no"    />
        <result property="crc"    column="crc"    />
        <result property="equipmentId"    column="equipment_id"    />
        <result property="pageSize"    column="page_size"    />
        <result property="transmissionDelay"    column="transmission_delay"    />
        <result property="receivedPacket"    column="received_packet"    />
        <result property="streamLog"    column="stream_log"    />
        <result property="groupPackage"    column="groupPackage"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="deptName"    column="dept_name"    />
    </resultMap>

    <sql id="selectConfigureDtuVo">
        select cd.id, cd.manufacturer, cd.groupPackage,cd.product, cd.model, cd.name, cd.business_id, cd.sim, cd.dtu_no, cd.crc, cd.equipment_id, cd.page_size,
               cd.transmission_delay, cd.received_packet,
               cd.stream_log, cd.remark, cd.create_by, cd.create_time, cd.update_by, cd.update_time , sd.dept_name
        from configure_dtu cd
        left join sys_dept sd on cd.manufacturer = sd.dept_id
    </sql>

    <select id="selectConfigureDtuList" parameterType="ConfigureDtu" resultMap="ConfigureDtuResult">
        <include refid="selectConfigureDtuVo"/>
        <where>  
            <if test="manufacturer != null "> and manufacturer = #{manufacturer}</if>
            <if test="product != null  and product != ''"> and product = #{product}</if>
            <if test="model != null  and model != ''"> and model = #{model}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="businessId != null and businessId != ''"> and business_id = #{businessId}</if>
            <if test="sim != null  and sim != ''"> and sim = #{sim}</if>
            <if test="dtuNo != null  and dtuNo != ''"> and dtu_no = #{dtuNo}</if>
            <if test="crc != null  and crc != ''"> and crc = #{crc}</if>
            <if test="equipmentId != null  and equipmentId != ''"> and equipment_id = #{equipmentId}</if>
            <if test="pageSize != null  and pageSize != ''"> and page_size = #{pageSize}</if>
            <if test="transmissionDelay != null  and transmissionDelay != ''"> and transmission_delay = #{transmissionDelay}</if>
            <if test="receivedPacket != null  and receivedPacket != ''"> and received_packet = #{receivedPacket}</if>
            <if test="streamLog != null  and streamLog != ''"> and stream_log = #{streamLog}</if>
            <if test="groupPackage != null  and groupPackage != ''"> and groupPackage = #{groupPackage}</if>
        </where>
    </select>
    
    <select id="selectConfigureDtuById" parameterType="Long" resultMap="ConfigureDtuResult">
        <include refid="selectConfigureDtuVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertConfigureDtu" parameterType="ConfigureDtu" useGeneratedKeys="true" keyProperty="id">
        insert into configure_dtu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="manufacturer != null">manufacturer,</if>
            <if test="product != null">product,</if>
            <if test="model != null">model,</if>
            <if test="name != null">name,</if>
            <if test="businessId != null">business_id,</if>
            <if test="sim != null">sim,</if>
            <if test="dtuNo != null">dtu_no,</if>
            <if test="crc != null">crc,</if>
            <if test="equipmentId != null">equipment_id,</if>
            <if test="pageSize != null">page_size,</if>
            <if test="transmissionDelay != null">transmission_delay,</if>
            <if test="receivedPacket != null">received_packet,</if>
            <if test="streamLog != null">stream_log,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="groupPackage != null">groupPackage,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="manufacturer != null">#{manufacturer},</if>
            <if test="product != null">#{product},</if>
            <if test="model != null">#{model},</if>
            <if test="name != null">#{name},</if>
            <if test="businessId != null">#{businessId},</if>
            <if test="sim != null">#{sim},</if>
            <if test="dtuNo != null">#{dtuNo},</if>
            <if test="crc != null">#{crc},</if>
            <if test="equipmentId != null">#{equipmentId},</if>
            <if test="pageSize != null">#{pageSize},</if>
            <if test="transmissionDelay != null">#{transmissionDelay},</if>
            <if test="receivedPacket != null">#{receivedPacket},</if>
            <if test="streamLog != null">#{streamLog},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="groupPackage != null">#{groupPackage},</if>
         </trim>
    </insert>

    <update id="updateConfigureDtu" parameterType="ConfigureDtu">
        update configure_dtu
        <trim prefix="SET" suffixOverrides=",">
            <if test="manufacturer != null">manufacturer = #{manufacturer},</if>
            <if test="product != null">product = #{product},</if>
            <if test="model != null">model = #{model},</if>
            <if test="name != null">name = #{name},</if>
            <if test="businessId != null">business_id = #{businessId},</if>
            <if test="sim != null">sim = #{sim},</if>
            <if test="dtuNo != null">dtu_no = #{dtuNo},</if>
            <if test="crc != null">crc = #{crc},</if>
            <if test="equipmentId != null">equipment_id = #{equipmentId},</if>
            <if test="pageSize != null">page_size = #{pageSize},</if>
            <if test="transmissionDelay != null">transmission_delay = #{transmissionDelay},</if>
            <if test="receivedPacket != null">received_packet = #{receivedPacket},</if>
            <if test="streamLog != null">stream_log = #{streamLog},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="groupPackage != null">groupPackage = #{groupPackage},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteConfigureDtuById" parameterType="Long">
        delete from configure_dtu where id = #{id}
    </delete>

    <delete id="deleteConfigureDtuByIds" parameterType="String">
        delete from configure_dtu where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>