<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.cmp.mapper.ConfigureSensorDataMapper">
    
    <resultMap type="ConfigureSensorData" id="ConfigureSensorDataResult">
        <result property="id"    column="id"    />
        <result property="sensorId"    column="sensor_id"    />
        <result property="originalData"    column="original_data"    />
        <result property="tempData"    column="temp_data"    />
        <result property="driftData"    column="drift_data"    />
        <result property="createTime"    column="create_time"    />
        <result property="dipX"    column="dip_x"    />
        <result property="dipY"    column="dip_y"    />
        <result property="dipZ"    column="dip_z"    />
        <result property="dipSensorTemp"    column="dip_sensor_temp"    />
        <result property="vibrationX"    column="vibration_x"    />
        <result property="vibrationY"    column="vibration_y"    />
        <result property="vibrationZ"    column="vibration_z"    />
        <result property="subsideDispValue"    column="subside_disp_value"    />
        <result property="dtuId"    column="dtu_Id"    />
    </resultMap>

    <sql id="selectConfigureSensorDataVo">
        select id, sensor_id, dtu_Id,original_data, temp_data, drift_data, create_time, dip_x,  dip_y,dip_z, dip_sensor_temp,vibration_x,vibration_y,vibration_z, subside_disp_value from configure_sensor_data
    </sql>

    <select id="selectConfigureSensorDataList" parameterType="ConfigureSensorData" resultMap="ConfigureSensorDataResult">
        <include refid="selectConfigureSensorDataVo"/>
        <where>  
            <if test="sensorId != null "> and sensor_id = #{sensorId}</if>
            <if test="originalData != null  and originalData != ''"> and original_data = #{originalData}</if>
            <if test="tempData != null  and tempData != ''"> and temp_data = #{tempData}</if>
            <if test="driftData != null  and driftData != ''"> and drift_data = #{driftData}</if>
            <if test="dtuId != null  and dtuId != ''"> and dtu_Id = #{dtuId}</if>
        </where>
    </select>
    
    <select id="selectConfigureSensorDataById" parameterType="Long" resultMap="ConfigureSensorDataResult">
        <include refid="selectConfigureSensorDataVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertConfigureSensorData" parameterType="ConfigureSensorData">
        insert into configure_sensor_data
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="sensorId != null">sensor_id,</if>
            <if test="originalData != null">original_data,</if>
            <if test="tempData != null">temp_data,</if>
            <if test="driftData != null">drift_data,</if>
            <if test="createTime != null">create_time,</if>
            <if test="dipX != null">dip_x,</if>
            <if test="dipY != null">dip_y,</if>
            <if test="dipZ != null">dip_z,</if>
            <if test="dipSensorTemp != null">dip_sensor_temp,</if>
            <if test="vibrationX != null">vibration_x,</if>
            <if test="vibrationY != null">vibration_y,</if>
            <if test="vibrationZ != null">vibration_z,</if>
            <if test="subsideDispValue != null">subside_disp_value,</if>
            <if test="dtuId != null">dtu_Id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="sensorId != null">#{sensorId},</if>
            <if test="originalData != null">#{originalData},</if>
            <if test="tempData != null">#{tempData},</if>
            <if test="driftData != null">#{driftData},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="dipX != null">#{dipX},</if>
            <if test="dipY != null">#{dipY},</if>
            <if test="dipZ != null">#{dipZ},</if>
            <if test="dipSensorTemp != null">#{dipSensorTemp},</if>
            <if test="vibrationX != null">#{vibrationX},</if>
            <if test="vibrationY != null">#{vibrationY},</if>
            <if test="vibrationZ != null">#{vibrationZ},</if>
            <if test="subsideDispValue != null">#{subsideDispValue},</if>
            <if test="dtuId != null">#{dtuId},</if>
         </trim>
    </insert>

    <update id="updateConfigureSensorData" parameterType="ConfigureSensorData">
        update configure_sensor_data
        <trim prefix="SET" suffixOverrides=",">
            <if test="sensorId != null">sensor_id = #{sensorId},</if>
            <if test="originalData != null">original_data = #{originalData},</if>
            <if test="tempData != null">temp_data = #{tempData},</if>
            <if test="driftData != null">drift_data = #{driftData},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="dipX != null">dip_x = #{dipX},</if>
            <if test="dipY != null">dip_y = #{dipY},</if>
            <if test="dipZ != null">dip_z = #{dipZ},</if>
            <if test="dipSensorTemp != null">dip_sensor_temp = #{dipSensorTemp},</if>
            <if test="vibrationX != null">vibration_x = #{vibrationX},</if>
            <if test="vibrationY != null">vibration_y = #{vibrationY},</if>
            <if test="vibrationZ != null">vibration_z = #{vibrationZ},</if>
            <if test="subsideDispValue != null">subside_disp_value = #{subsideDispValue},</if>
            <if test="dtuId != null">dtu_Id = #{dtuId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteConfigureSensorDataById" parameterType="Long">
        delete from configure_sensor_data where id = #{id}
    </delete>

    <delete id="deleteConfigureSensorDataByIds" parameterType="String">
        delete from configure_sensor_data where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>